<footer>
    <mat-toolbar color="primary" style="padding: 20px; text-align: center;">
        <p>כתובת: כיכר ספרא 1, ירושלים | טלפון: 02-6297777 | דוא"ל: infojerusalem.muni.il</p>
        <!-- <div>
            <a href="#"><img src="assets/facebook-icon.png" alt="Facebook" style="width: 24px; margin: 0 5px;"></a>
            <a href="#"><img src="assets/twitter-icon.png" alt="Twitter" style="width: 24px; margin: 0 5px;"></a>
            <a href="#"><img src="assets/instagram-icon.png" alt="Instagram" style="width: 24px; margin: 0 5px;"></a>
        </div> -->
        <!-- <p><a href="#">הצהרת נגישות</a> | <a href="#">מפת האתר</a></p> -->
    </mat-toolbar>
</footer>