
    <!-- <a routerLink="/home" routerLinkActive="active">Home</a> -->
  <mat-toolbar color="primary">
    <div fxFlex="10%">
        <img src="assets/jerusalem-logo.png" alt="לוגו עיריית ירושלים" style="height: 40px;">
    </div>
    <span fxFlex="70%">עיריית ירושלים</span>
    <nav fxFlex="20%">
        <a mat-button routerLink="/home">Home</a>
        <a mat-button routerLink="/login">Login</a>
        <a mat-button routerLink="/register">Signup</a>
        <a mat-button href="#">Resident Services</a>
        <a mat-button href="#">Culture and Events</a>
        <a mat-button href="#">News and Updates</a>
        <a mat-button href="#">Contact Us</a>
    </nav>
</mat-toolbar>