<mat-card>
    <img mat-card-image src="assets/jerusalem-view.jpg" alt="נוף של ירושלים">
    <mat-card-content>
        <h1>ברוכים הבאים לאתר עיריית ירושלים</h1>
        <p>כאן תוכלו למצוא את כל השירותים העירוניים, לקבל עדכונים ולגלות את האירועים הקרובים בעיר.</p>
        <button mat-raised-button color="accent">הצטרפו לדיוור העירוני</button>
    </mat-card-content>
</mat-card>

<div fxLayout="row wrap" fxLayoutGap="20px" fxLayoutAlign="center center" style="margin: 20px 0;">
  
    <mat-card fxFlex="30%" class="service-card">
        <mat-card-header>
            <mat-card-title>שירותים מקוונים</mat-card-title>
        </mat-card-header>
        <mat-card-content fxLayout="row wrap" fxLayoutGap="10px">
            <div class="service-cube" fxFlex="45%">
                <a href="/application" style="text-decoration: none; color: inherit;">
                  <mat-icon>money_off</mat-icon> הנחה בארנונה
                </a>
              </div>
            <div class="service-cube" fxFlex="45%">
                <mat-icon>school</mat-icon> רישום למוסדות חינוך
            </div>
            <div class="service-cube" fxFlex="45%">
                <mat-icon>directions_car</mat-icon> דוחות חנייה
            </div>
            <div class="service-cube" fxFlex="45%">
                <mat-icon>account_balance</mat-icon> תשלום ארנונה
            </div>
            <div class="service-cube" fxFlex="45%">
                <mat-icon>child_care</mat-icon> רישום לגני ילדים
            </div>
        </mat-card-content>
    </mat-card>

    <mat-card fxFlex="30%" class="service-card">
        <mat-card-header>
            <mat-card-title>חדשות ועדכונים</mat-card-title>
        </mat-card-header>
        <mat-card-content fxLayout="row wrap" fxLayoutGap="10px">
            <div class="service-cube" fxFlex="45%">
                <mat-icon>lightbulb</mat-icon> מרכז חדשנות עירוני
            </div>
            <div class="service-cube" fxFlex="45%">
                <mat-icon>construction</mat-icon> שדרוג תשתיות
            </div>
            <div class="service-cube" fxFlex="45%">
                <mat-icon>health_and_safety</mat-icon> מבצע חיסונים
            </div>
        </mat-card-content>
    </mat-card>

</div>
