<mat-card>
  <mat-card-content>
      <h1 class="text-right">הנחה בארנונה</h1>
      <p class="text-right">ארנונה היא מס עירוני שמוטל על כל מחזיק נכס בתחומי העירייה. גובה הארנונה נקבע בהתאם לגודל הנכס, מיקומו וסוג השימוש בו.</p>

      <h2 class="text-right">מידע נוסף</h2>
      <p class="text-right"><strong>זכאות:</strong> רשימה של קריטריונים לזכאות להנחה.</p>
      <p class="text-right"><strong>מסמכים נדרשים:</strong> רשימה של מסמכים שיש לצרף לבקשה.</p>
      <p class="text-right"><strong>תהליך הגשה:</strong> הסבר קצר על תהליך הגשת הבקשה.</p>
      <p class="text-right"><strong>מועדים:</strong> ציון מועדים חשובים.</p>
      <p class="text-right"><strong>שאלות נפוצות:</strong> שאלות נפוצות ותשובות בנושא הנחה בארנונה.</p>
      <p class="text-right"><strong>יצירת קשר:</strong> פרטי יצירת קשר עם מחלקת הארנונה בעירייה.</p>

      <h2 class="text-right">אפשרויות</h2>
      @if(!isLoading)
      {
       @if(hasActiveRequest){
        <div class="text-right">
          <p><strong>סטטוס בקשה:</strong> {{ requestStatus }}</p>
          <button mat-raised-button color="accent" (click)="handleAction()">צפייה בבקשה ובאחוז ההנחה שאושר כרגע</button>
      </div>
      }
      @if(!hasActiveRequest){
        <div class="text-right">
          <button mat-raised-button color="primary" (click)="handleAction()">הגשת בקשה להנחה</button>
        </div>
      }
    }
    @else {
      <div  class="text-right">
        <p>טוען...</p>
    </div>
    }
  </mat-card-content>
  <div class="spase"></div>
</mat-card>