<!-- <div class="login-container">
  <h2>התחברות</h2>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <label for="userName">שם משתמש</label>
    <input id="userName" formControlName="userName" type="text" required />
    <label for="password">סיסמה</label>
    <input id="password" formControlName="password" type="password" required />
    @if(loginForm.get('password')?.invalid && loginForm.get('password')?.touched)
    { <div class="error">
      יש להזין סיסמה (לפחות 8 תווים).
    </div>}
    @if(errorMessage)
    {
       <div class="error-message">{{ errorMessage }}</div>
    }
        <button type="submit" [disabled]="loginForm.invalid">התחבר</button>
  </form>
</div> -->
<div class="login-container">
  <mat-card>
    <mat-card-title>התחברות</mat-card-title>
    <mat-card-content>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="outline">
          <mat-label>שם משתמש</mat-label>
          <input matInput id="userName" formControlName="userName" type="text" required />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>סיסמה</mat-label>
          <input matInput id="password" formControlName="password" type="password" required />
          @if(loginForm.get('password')?.invalid && loginForm.get('password')?.touched) {
            <mat-error>
              יש להזין סיסמה (לפחות 8 תווים).
            </mat-error>
          }
        </mat-form-field>
        @if(errorMessage) {
          <div class="error-message">{{ errorMessage }}</div>
        }
        <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid">התחבר</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>