<mat-card>
  <mat-card-content>
    <h1 class="text-right">פרטי בקשת הנחה בארנונה</h1>
   
    @if(requestStatus){
    <mat-tab-group class="tab-group" dir="rtl">
      <mat-tab label="קבצים">
        <div class="tab-content">

          @if(requestStatus.documentUploads[0]){
          <div class="file-display-section">
            <label class="file-display-label">צילום ת"ז כולל ספח:</label>
            <div class="file-display-value">
              <a [href]="requestStatus.documentUploads[0]" target="_blank">
                <mat-icon>insert_drive_file</mat-icon>
                צילום ת"ז
              </a>
            </div>
          </div>
          }

          @if(!requestStatus.documentUploads[0]){
          <div class="file-display-section">
            <label class="file-display-label">צילום ת"ז כולל ספח:</label>
            <div class="file-display-value">
              לא הועלה קובץ
            </div>
          </div>
          }

          @if(requestStatus.documentUploads[1]){
          <div class="file-display-section">
            <label class="file-display-label">דו"ח בנק של 3 החודשים האחרונים:</label>
            <div class="file-display-value">
              <a [href]="requestStatus.documentUploads[1]" target="_blank">
                <mat-icon>insert_drive_file</mat-icon>
                בנק
              </a>
            </div>
          </div>
          }

          @if(!requestStatus.documentUploads[1]){
          <div class="file-display-section">
            <label class="file-display-label">דו"ח בנק של 3 החודשים האחרונים:</label>
            <div class="file-display-value">
              לא הועלה קובץ
            </div>
          </div>
          }

          @if(requestStatus.documentUploads[2]){
          <div class="file-display-section">
            <label class="file-display-label">תלושי משכורת של בן/בת זוג 1 (3 חודשים אחרונים):</label>
            <div class="file-display-value">
              <a [href]="requestStatus.documentUploads[2]" target="_blank">
                <mat-icon>insert_drive_file</mat-icon>
                משכורת
              </a>
            </div>
          </div>
          }

          @if(!requestStatus.documentUploads[2]){
          <div class="file-display-section">
            <label class="file-display-label">תלושי משכורת של בן/בת זוג 1 (3 חודשים אחרונים):</label>
            <div class="file-display-value">
              לא הועלה קובץ
            </div>
          </div>
          }

          @if(requestStatus.documentUploads[3]){
          <div class="file-display-section">
            <label class="file-display-label">תלושי משכורת של בן/בת זוג 2 (3 חודשים אחרונים):</label>
            <div class="file-display-value">
              <a [href]="requestStatus.documentUploads[3]" target="_blank">
                <mat-icon>insert_drive_file</mat-icon>
                משכורת
              </a>
            </div>
          </div>
          }
          @if(!requestStatus.documentUploads[3]){
          <div class="file-display-section">
            <label class="file-display-label">תלושי משכורת של בן/בת זוג 2 (3 חודשים אחרונים):</label>
            <div class="file-display-value">
              לא הועלה קובץ
            </div>
          </div>
          }

        </div>
      </mat-tab>

      <mat-tab label="פרטים אישיים">
        <div class="tab-content">
          @if(requestStatus){
          <div class="personal-details-display-grid">
            <div class="detail-item">
              <label class="detail-label">שם פרטי:</label>
              <span class="detail-value">{{ requestStatus?.fName }}</span>
            </div>

            <div class="detail-item">
              <label class="detail-label">שם משפחה:</label>
              <span class="detail-value">{{ requestStatus?.lfName }}</span>
            </div>

            <div class="detail-item">
              <label class="detail-label">מייל:</label>
              <span class="detail-value">{{ requestStatus?.gmail }}</span>
            </div>

            <div class="detail-item">
              <label class="detail-label">מספר בית:</label>
              <span class="detail-value">{{ requestStatus?.homeNumber }}</span>
            </div>

            <div class="detail-item">
              <label class="detail-label">רחוב:</label>
              <span class="detail-value">{{ requestStatus?.street }}</span>
            </div>

            <div class="detail-item">
              <label class="detail-label">עיר:</label>
              <span class="detail-value">{{ requestStatus?.city }}</span>
            </div>

            <div class="detail-item">
              <label class="detail-label">מספר נכס:</label>
              <span class="detail-value">{{ requestStatus?.propertyNumber }}</span>
            </div>
          </div>
          }

        </div>
      </mat-tab>

      <mat-tab label="פרטי חישוב הננחה">
        <div class="tab-content">
          @if(requestStatus){
          <div class="personal-details-display-grid">
           
            <div class="detail-item">
              <label class="detail-label">סטטוס הבקשה:</label>
              <span class="detail-value">{{ requestStatus?.status }}</span>
            </div>
            
            <div class="detail-item">
              <label class="detail-label">הכנסה חודשית ממוצעת:</label>
              <span class="detail-value">
                {{ requestStatus?.averageMonthlyIncome }} ₪
              </span>
            </div>
            
            <div class="detail-item">
              <label class="detail-label">סכום לתשלום לאחר ההנחה:</label>
              <span class="detail-value">{{ requestStatus?.calculatedArnona }}  ₪</span>
            </div>

            <div class="detail-item">
              <label class="detail-label">אחוז הנחה:</label>
              <span class="detail-value">{{ requestStatus?.approvedArnona }} %</span>
            </div>
            
          </div>
          }
          <div style="color: red; font-weight: bold; text-align: center; margin-top: 10px;">
            שימו לב: אחוז ההנחה המוצג הינו הערכה בלבד ואינו סופי עד לאישור סופי של הבקשה.
          </div>
        </div>
      </mat-tab>


    </mat-tab-group>
    }

    @if(error){
    <div class="error-message">{{ error }}</div>
    }
    @if(!requestStatus && !error){
    <div class="loading-message">טוען נתונים...</div>

    }
  </mat-card-content>

</mat-card>